################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaylocityApi/.vs/PaylocityApi
/PaylocityApi/PaylocityApi.Tests/bin/Debug/net6.0
/PaylocityApi/PaylocityApi.Tests/obj
